.cargoplanner {
  position: relative;
}

a:focus {
  outline: 4px solid blue;
}

a[href^="mailto:"] {
  word-break: break-all;
}

header {
  background: #ccc;
  display: flex;
  border-bottom: 1px solid black;
}

.title {
  width: 20vw;
}

.title a {
  color: black;
  text-decoration: none;
  padding: .1em 1em;
  border: .2em solid transparent;
  display: block;
  height: 3em;
  display: flex;
  align-items: center;
}

.title a:focus {
  border-color: blue;
  outline: none;
}

.title a em {
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
}

input,
button {
  padding: .5em 1em;
  border: 2px solid black;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

input {
  padding: .5em .5em;
}

input:focus {
  outline: none;
  box-shadow: 2px 2px 0 black;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.search {
  padding: .8em 1em;
  text-align: right;
  flex-grow: 2;
}

.search input {
  height: 2em;
  line-height: 2em;
  padding: 0 1em 0 2em;
  border-radius: 1em;
  width: calc(100% - 3em);
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cpath d='M23.822 20.88l-6.353-6.354c.93-1.465 1.467-3.2 1.467-5.059.001-5.219-4.247-9.467-9.468-9.467s-9.468 4.248-9.468 9.468c0 5.221 4.247 9.469 9.468 9.469 1.768 0 3.421-.487 4.839-1.333l6.396 6.396 3.119-3.12zm-20.294-11.412c0-3.273 2.665-5.938 5.939-5.938 3.275 0 5.94 2.664 5.94 5.938 0 3.275-2.665 5.939-5.94 5.939-3.274 0-5.939-2.664-5.939-5.939z'/%3E%3C/svg%3E") 10px no-repeat;
}
.search input:focus {
  outline: none;
  border-radius: 1em;
  box-shadow: 2px 2px 0 black;
}

.controls {
  padding: .8em 1em;
  text-align: right;
}

.controls button {
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
  border: 2px solid black;
  box-shadow: 2px 2px 0 black;
}
.controls button:focus {
  box-shadow: none;
}

.controls button + button {
  margin-left: .5em;
}

.viewport {
  filter: blur(0);
  transition: filter 300ms ease-in-out;
}
.-loading .viewport {
  filter: blur(2em);
}

main {
  display: flex;
  max-height: calc(100vh - 4em);
  filter: blur(0);
  transition: filter 300ms ease-in-out;
}

main input {
  width: 14em
}

aside {
  order: 1;
  width: 20vw;
  overflow-y: scroll;
}

aside ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

aside ul li {
  margin: 0;
  padding: 0;
}
aside ul li a {
  padding: .2em 1em;
  display: block;
  border: .2em solid transparent;
}

aside ul li a:focus {
  border-color: blue;
  outline: none;
}

section {
  flex-grow: 4;
  order: 2;
  overflow-y: scroll;
  padding: 0 1em;
}

article {
  line-height: 1.5em;
}

section h1,
section h3 {
  margin: 1em 0;
}

section h1 {
  font-size: 1.8em;
  line-height: 1.2em;
  margin: .35em 0 .1em 0;
}

section h1 + p {
  margin-top: 0;
}

section label {
  display: block;
}

output {
  display: block;
  padding: 2em;
  text-align: center;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  button,
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .title,
  aside {
    width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .title,
  aside {
    width: 25vw;
  }
  .title {
    white-space: nowrap;
  }
}

@media screen and (min-width: 590px) {
  aside ul {
    margin-top: .8em;
  }
}

@media screen and (max-width: 589px) {
  header {
    top: 0;
    z-index: 8;
    position: sticky;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
                                
  }

  .title {
    width: 14vw;
    white-space: normal;
  }

  .title a {
    display: flex;
    font-size: 2vw;
    padding: 0 1em;
    height: calc(100% - .4em);
  }

  .search {
    padding-left: 0;
  }

  .controls {
    width: 2em;
    padding: .8em 0;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
  }

  .controls:before {
    content: '';
    display: block;
    border: 8px solid transparent;
    border-right-color: black;
    position: absolute;
    left: 0;
    top: 1.4em;
  }

  .controls:after {
    content: '';
  }

  .controls button {
    display: none;
  }
  
  .controls:active,
  .controls:hover {
    width: 30em;
    height: 2em;
    padding-right: 4em;
  }

  .controls:hover button,
  .controls:active button {
    display: inline-block;
  }

  .controls:hover:before {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column-reverse;
    max-height: unset;
    z-index: 1;
  }

  main input {
    width: calc(100% - 1em)
  }

  .-searching main {
    flex-direction: column;
  }

  aside {
    width: auto;
    max-height: auto;
    order: 1;
    overflow: auto;
    padding-bottom: .5em;
  }

  .-searching aside {
    padding-bottom: .2em;
    border-bottom: 1px solid black;
  }

  aside ul li a {
    padding: .5em 1em;
    border-bottom: 1px solid silver;
  }

  aside ul li:last-child a {
    border-bottom: none; 
  }
  
  section {
    overflow: auto;
    flex-grow: unset;
    border-bottom: 1px solid black;
  }

  .-searching section {
    padding-bottom: 0;
    border-bottom: none;
  }
}
